body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.new-label::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 59px;
  background-image: url('../img/mark-new.png');
  background-repeat: no-repeat;
  z-index: 2;
}

.main-header {
  background-color: #f4f7f9;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.inner-page-header {
  margin-bottom: 20px;
}

.top-header {
  background-color: #293449;
  margin-bottom: 45px;
}

.top-header .container {
  display: flex;
}

.main-nav {
  background-color: #32425c;
}

.logo {
  display: block;
  width: 220px; 
  padding: 12px 0; 
  line-height: 9px;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  min-width: 195px;
  color: #ffffff;
  text-align: center;
  vertical-align: top;  
  background-color: #ee3643;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Top Header */
.logo:hover,
.logo:focus,
.btn:hover,
.btn:focus {
  background-color: #ca2c37;
  outline: none;
}

.logo:active,
.btn:active {
  background-color: #ba2732;  
}

/* поиск */
.search-form {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.search-input {
  width: 100%;
  height: 16px;
  padding: 13px;
  padding-left: 50px;
  font-size: 17px;
  background-color: transparent;
  border: 0;
}

.search-input::placeholder {
  font-size: 17px;
  color: #ffffff;
}

.search-form:hover .search-input {
  background-color: #212a3a;
}

.search-form .search-input:focus,
.search-form .search-input:active{
  background-color: #ffffff;
  outline: none;
}

.search-input:focus::placeholder {
  color: #000000;
}

.icon-search {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 18px;
  height: 18px;
  background-image: url('../img/icon-search.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  opacity: 0.3;
}

.icon-search:hover,
.icon-search:focus {
  opacity: 1;
}

.search-input:hover + .icon-search {
  opacity: 1;
}

.search-input:focus + .icon-search {
  background-image: url('../img/icon-search-red.svg');
  opacity: 1;
}
/* поиск */

.user-order-menu {
  display: flex;
}

.user-order-link{
  position: relative;
  padding: 13px 30px 13px 47px;
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
}

.user-order-link:hover,
.user-order-link:focus {
  background-color: #212a3a;
  outline: none;
}

.user-order-link:active,
.user-order-link:active::before {
  opacity: 0.6;
}

.order-btn {
  padding: 13px 21px;
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  background-color: #63a63e;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #5fbb2d;
}

.order-btn:active {
  background-color: #518534;
}

.user-order-link::before,
.user-order-link::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 17px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-order-link:hover::before,
.user-order-link:hover::before {
  opacity: 1;
}

.bookmark::before {
  background-image: url('../img/icon-bookmark.svg');
}

.basket::before {
  background-image: url('../img/icon-cart.svg');
}

.user-order-link.active {
  padding-right: 26px;
  background-color: #ee3643;
}

.user-order-menu .basket-items:hover,
.user-order-menu .basket-items:focus {
  background-color: #ca2c37;
}

.user-order-menu .basket-items:active {
  color: #ffffff;
  background-color: #ba2732;
}

/* / Top Header */

.middle-header {
  display: flex;
  margin-bottom: 39px;
}

.header-title {  
  max-width: 217px;
  margin: 0;
  margin-right: 20px; 
  padding: 4px 30px 0 53px;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;  
}

.header-contacts {
  margin-right: 53px;
}

.header-phone {
  position: relative;
  display: block;
  width: 180px;
  margin-bottom: 2px;
  padding: 10px 10px 10px 71px;
  font-size: 21px;  
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.header-phone::before {
  content: '';
  position: absolute;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
}

.header-adress {
  margin: 0;
  margin-left: 10px;
  line-height: 24px;
  color: #32425c;
}

.login-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 1;
}

.login-menu a {
  display: block;
  padding: 14px 25px;
  font-size: 21px;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
}

.login-menu a:hover,
.login-menu a:focus {
  color: #ee3643;
}

.login-menu a:hover::before {
  opacity: 1;
}

.login-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-menu a:active::before {
  opacity: 0.3;
}

.login-menu .sign-in-btn {
  position: relative;
  margin-right: 10px;
  padding-left: 48px;
}

.sign-in-btn::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 16px;
  display: block;
  width: 20px;
  height: 17px;
  background-image: url('../img/icon-login.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-control {
  position: relative;
  width: 300px;
  max-width: 300px;
}

.user-name {
  position: relative;
  display: block;
  padding: 12px 50px 12px 47px;
  margin: 0;
  margin-bottom: 7px; 
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;  
}

.user-name::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 15px;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon-user.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-name:hover::before,
.user-name:focus::before,
.user-exit:hover,
.user-exit:focus {
  opacity: 1;
}

.user-name:active {
  opacity: 0.3;;
}

.user-exit {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  right: 11px;
  background-image: url('../img/icon-logout.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 17px;
  margin: 0;
  list-style: none;
}

.user-menu li::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #32425c;
  margin: 0 15px;
}

.user-menu li:last-child::after {
  display: none;
}

.user-menu a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline
}

.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}

.user-menu a:active {
  color: #32425c;
  opacity: 0.3;
  text-decoration: none;
}



.site-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 60px;  
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.site-menu-item{
  flex-grow: 1;
}

.site-menu-item a {
  display: block;
  padding: 22px 10px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-menu-item a:hover,
.site-menu-item a:focus {
  background-color: #293449;
}

.site-menu-item a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.site-menu-item:first-child a {
  padding-left: 30px;
}

.site-menu-item:last-child a {
  padding-right: 35px;
}

/* Основные разделы и преимущества */
.main-category,
.features {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-category h3,
.features h3 {
  margin: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.main-promo {
  margin-bottom: 53px;
}

.main-category {
  display: flex;
  flex-wrap: wrap;
}

.promo-item {
  position: relative;
  width: 276px;
  min-height: 83px;
  padding: 20px 0 20px 24px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.features .promo-item:last-of-type {
  margin-bottom: 0;
}

.promo-item:nth-child(3n) {
  margin-right: 0;
}

.promo-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 29px;
  right: 26px;
  width: 78px;
  height: 70px;
  background-repeat: no-repeat;
}

.features .promo-item {
  margin-right: 0;
}

.main-category a,
.features a {
  display: inline-block;
  min-width: 125px;
  padding: 10px 5px;
  color: #ffffff;
  border-radius: 3px;
  vertical-align: top;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-category a:hover,
.features a:hover,
.main-category a:focus,
.features a:focus{
  background-color: rgba(0, 0, 0, 0.2);
}

.main-category a:active,
.features a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-materials {
  background-color: #ffbf47;
}

.main-materials::after {  
  top: 30px;
  right: 9px;
  background-image: url(../img/icon-1.svg);  
}

.main-tools {
  background-color: #3bbce3;
}

.main-tools::after {  
  background-image: url(../img/icon-2.svg);  
}

.main-technique {
  background-color: #dc91d8;
}

.main-technique::after {  
  background-image: url(../img/icon-3.svg);  
}

.slider-and-features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.features-discount {
  background-color: #8ed78f;
}

.features-discount::after {  
  background-image: url(../img/icon-4.svg);  
}

.features-delivery {
  background-color: #ffc047;
}

.features-delivery::after {  
  background-image: url(../img/icon-5.svg);  
}



.slider {
  position: relative;
  overflow: hidden;  
}

.slider-slides {
  width: 200%;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
}

.slider-inner {
  width: 620px;
}

.slider input {
  display: none;
}

.slider-item {
  position: relative;
  height: 266px;
  float: left;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: #cccccc;
  overflow: hidden;
}

.sider-item-description {
  position: absolute;
  top: 22px;
  left: 25px;
  max-width: 90%;
  z-index: 1;
}

.sider-item-description p {
  margin: 0;
}

.slider-item .btn {
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 123px;
  font-size: 14px;
  line-height: 18px;
}

.slider-item h3{
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;  
}

.slider-controls {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid #ffffff;
  transition: all 0.3s;
  cursor: pointer;
  vertical-align: top;
}

.btn-slider {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 40px;
  transform: translateY(-50%);
  border: none;  
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn-slider:hover {
  opacity: 0.3;
}

.btn-back {
  background-image: url('../img/icon-left.svg');
  left: 25px;  
}

.btn-next {
  background-image: url('../img/icon-right.svg');  
  right: 20px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-620px);
}

/* /Основные разделы и преимущества */

/* Популярные товары и карточки товаров */

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 23px 25px 30px;
  margin-bottom: 20px;
  background: #f9f5f0;
}

.popular-title h2 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.shop .items-list {
  margin-bottom: 30px;
}

.item {
  position: relative;
  width: 218px;
  padding-bottom: 20px;
  margin-bottom: 22px;
  margin-right: 20px;
  font-family: 'PT Sans', Arial, sans-serif;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #eaeaea;
  transition: box-shadow 0.3s;
}

.popular-items .item:nth-child(4n),
.catalog .item:nth-child(3n) {
  margin-right: 0;
}

.item-title { 
  padding: 0 20px;
  margin: 5px 0 0 0;
  font-size: 18px;
  line-height: 20px;  
}

.item-title a {
  color: #000000;
}

.old-price {
  margin: 10px 0;
  font-size: 17px;
  font-weight: bold;
  color: #999999;
  text-decoration: line-through;
}

.old-price-null {
  min-height: 18px;
}

.price {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: auto;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  vertical-align: top;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #ee3643;
}

.price:after {
  position: absolute;
  content: "";
  border: 19px solid #ffffff;
  top: 0px;
  right: -19px;
  border-right-width: 0;
  border-left-color: #ee3643;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.item:hover {
  border: 1px solid transparent;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.item-buttons {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  background: #ffffff;
  z-index: 1;
}

.item:hover .item-buttons {  
  display: flex;
}

.item-buttons a {
  font-family: 'Cuprum', Arial, sans-serif;  
  text-transform: uppercase;
  border-radius: 2px;  
}

.item-buy {
  position: relative;
  display: block;
  padding: 10px 35px 10px 59px;
  margin-bottom: 8px;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.item-bookmark {
  display: block;
  padding: 7px 31px;
}

.item-buy:before {
  content: '';
  position: absolute;
  left: 17px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('../img/icon-cart.svg');
  background-repeat: no-repeat;
}

.item-buy:hover,
.item-buy:focus {
  background-color: #5fbb2d;
}

.item-buy:active {
  background-color: #518534;
}

.item-buttons .item-bookmark {
  color: #32425c;
  border: 3px solid #63a63e;
}

.item-bookmark:hover,
.item-bookmark:focus {
  border-color: #32425c;
}

.item-bookmark:active {
  opacity: 0.3;
}

.popular-brands {
  margin-bottom: 63px;
}

.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.popular-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 144px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
  transition: 0.3s;
}

.popular-brand:nth-child(4n) {
  margin-right: 0;
}

.popular-brand:hover,
.popular-brand:focus {
  border: 1px solid transparent;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brand:active {
  opacity: 0.3;
}
/* /Популярные товары и карточки товаров */

/* Контент */
.main-services {
  padding: 66px 0 32px 0;
  background-color: #f4f7f9;
}

.text-title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;    
  text-transform: uppercase;    
}

.main-services p,
.about p,
.contacts p,
.category-text p {
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.main-services .main-services-txt {
  max-width: 400px;
  margin-bottom: 5px;
}

.tab-wrapper {
  display: flex;
  align-items: center;
}

.services-tabs {
  position: relative;
  min-width: 240px;
  padding-left: 0;
  margin: 0; 
  margin-right: 80px;
  list-style: none;  
}

.services-tabs::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 279px;
  background-image: url('../img/right-shadow.png');
  background-repeat: no-repeat;
  background-position: 100%;
}

.services-content-tabs {
  display: flex;
  flex-grow: 1;
  height: 315px;
}

.tab-link {
  width: 100%;
  padding: 16px 22px;
  font-size: 21px;
  font-weight: bold;
  line-height: 31px;
  color: #ffffff;
  text-align: left;
  background-color: #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  border: none;
  cursor: pointer;
}

.tab-link:hover,
.tab-link:focus {
  background-color: #293449;  
}

.tab-link.active {
  color: #32425c;
  background-color: #fff;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0.6px 0.8px 0 0 #ffffff;
}

.tab-title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.tab-content {
  display: none;
  flex-grow: 1;
  padding-top: 60px;
  background-repeat: no-repeat;
  background-position: 100% 160%;
}

.delivery-tab {
  background-image: url('../img/bg-delivery.png');  
}

.garanty-tab {
  background-image: url('../img/bg-garant.png');
}

.credit-tab {
  background-image: url('../img/bg-credit.png');
}

.delivery-tab p {
  max-width: 275px;
}

.garanty-tab p {
  max-width: 300px;
  max-width: 375px;  
}

.credit-tab p{
  margin-bottom: 45px;
}

.credit-tab .btn {
  min-width: 135px;
}

.tab-content:first-child {
  display: block;
}

.main-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 85px;
}

.about {
  padding-right: 55px;
 }

.about p {
  margin-bottom: 23px;
}

.about .btn {
  min-width: 160px;
}

.contacts {
  width: 300px;
}

.contacts p {
  padding-right: 90px;
  margin-bottom: 30px;
}

.contacts .btn {
  display: block;
}

.map-link {
  display: block;
  margin-bottom: 35px;
}

.delivery-company {
  padding-left: 0;
  margin-bottom: 37px;
  list-style: none;
}

.delivery-company li {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
}

.delivery-company li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  background-color: #ee3643;
}
/* /Контент */

/* Каталог */

.breadcrumbs {
  display: flex;
  padding-left: 0;
  margin: 0 0 23px 0;
  list-style: none;
}

.breadcrumbs li::after {
  content: '';
  display: inline-block;
  margin: 2px 14px 0 17px;
  width: 8px;
  height: 12px;
  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
  vertical-align: top;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;  
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-home a{
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  font-size: 0;
  background-image: url('../img/icon-home.svg');
  background-repeat: no-repeat;
}

.pagination-list {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  min-width: 136px;
  margin-right: 0;
}

.pagination-item a {
  display: block;
  text-align: center;
  padding: 9px 15px;
}

.catalog-page-title {
  padding: 30px 0 34px 28px;
  margin: 0 0 20px 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 23px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.shop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.shop-filter-sort {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 17px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
  box-sizing: border-box;
  border-radius: 2px;
}

.filter-title {
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.sorting-item a{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.sorting-item:hover a{
  color: #000000;
  border-bottom-style: solid;
}

.sorting-item.active a{
  color: #ee3643;
  border-bottom-color: transparent;
}

.sorting-item:first-child {
  margin-right: 70px;
}

.sorting-item:nth-child(2) {
  margin-right: 65px;
}

.sorting-item:nth-child(3) {
  margin-right: 45px;
}

.sorting-arrow {
  fill: #c5c5c5;
  margin-right: 20px;
}

.sorting-arrow:hover {
  fill: #000000;
}

.sorting-arrow:last-child {
  margin-right: 0px;
}

.sorting-arrow.active {
  fill: #ee3643;
}

.filter-form fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
  border: none;
  border-bottom: 1px solid #e5e5e5;  
}

.filter-form fieldset:last-of-type {
  border-bottom: none;
  margin-bottom: 59px;
}

.filter-form legend {
  margin-bottom: 15px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-form ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

/* Filter range */
.filter-range {
  color: black;
  text-transform: uppercase;
}

.filter-range legend {
  margin-bottom: 20px;
  line-height: 17px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 25px;
}

.price-controls label {
  position: relative;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.price-controls input {
  width: 75px;
  height: 38px;
  padding: 0 10px;
  margin: 0; 
  text-align: center;
  background: none;
  border: none;
}

.price-controls .min-price,
.price-controls .max-price {
  background-color: #f7f3ec;
}

.min-price::after {
  content: '—';
  position: absolute;
  right: -23px;
  top: 10px;
}
.range-controls {
  position: relative;
  padding: 37px 30px;
  margin-bottom: 10px;
  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 28px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 73%;
}
/* /Filter range */

.filter-option {  
  padding-left: 35px;
  margin-bottom: 20px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 19px;
  height: 19px;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.filter-checkbox:checked + label::after {
  content: "";
  left: -35px;
  top: -2px;
  position: absolute;
  width: 27px;
  height: 23px; 
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:checked + label::before,
.filter-radio:checked + label::before {
  border: 0;
}

.filter-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 3px solid #ccc;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-radio:checked + label::after {
  content: "";
  left: -35px;
  top: 0;
  position: absolute;
  width: 30px;
  height: 25px; 
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-checkbox + label::before,
.filter-checkbox:checked + label::after,
.filter-radio + label::before,
.filter-radio:checked + label::after {
  opacity: 0.7;
}

.filter-checkbox + label:hover::before,
.filter-checkbox:checked + label:hover::after,
.filter-radio + label:hover::before,
.filter-radio:checked + label:hover::after {
  opacity: 1;
}

.filter-form button[type="submit"] {
  padding: 11px 37px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  cursor: pointer;
}

.pagination-item a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.category-text {
  background-color: #f4f7f9;
}

/* / Каталог */


/* Popup */
.popup-map,
.popup-callback {
  display: none;
}

.popup-content {
  padding: 0 78px;
  min-width: 465px;
}

.popup-footer {
  background-color: #f4f4f4;
  padding: 37px 78px;
}

.popup-callback .btn {
  width: 100%;
}

.popup-close {
  position: absolute;
  width: 21px;
  height: 21px;  
  top: 10px;
  right: 10px;
  background-image: url('../img/icon-close.svg');
  background-color: transparent;
  border: none;
  cursor: pointer;

}
.popup-close:hover {
  opacity: 0.6;
}

.popup-map {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 940px;
  height: 446px;  
  background-image: url('../img/map-popup.png'); 
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
}

.popup-map iframe {
  border: 0;
}

.popup-callback {
  position: fixed;
  top: 50%;
  left: 50%;
  padding-top: 45px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-top: 7px solid #ff5357;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.form-column {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 20px 0px;
}

.form-column:nth-child(2n) {
  margin-right: 0;
}

.popup-callback label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;  
}

.popup-callback input,
.popup-callback textarea {
  box-sizing: border-box;
  min-width: 220px;
  padding: 8px 17px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  background-color: transparent;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.popup-callback textarea {
  width: 100%;
  margin-bottom: 35px;
}

.popup-callback input::placeholder {
  color: #a9a9a9;
}

.popup-callback input:hover,
.popup-callback textarea:hover {
  border-color: #b5b5b5;
}

.popup-callback input:focus,
.popup-callback textarea:focus {
  border-color: #ee3643;
  outline: none;
}

.popup-basket-success {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding-top: 45px;
  background-color: #ffffff;
  border-top: 7px solid #ff5357;
  transform: translate(-50%, -50%);
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.popup-title-success {
  position: relative;
  padding-left: 90px;
  margin-bottom: 58px;
  font-size: 30px;
  line-height: 30px;
}

.popup-title-success::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 66px;
  height: 66px;
  background-image: url('../img/icon-mark.svg'); 
  background-repeat: no-repeat;
}

.popup-basket-success button {
  border: none;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
}

.popup-btn-success {
  min-width: 160px;
  margin-right: 20px;
}

.continue-btn {
  min-width: 220px;
  padding: 11px 30px;
  border-radius: 3px;
  cursor: pointer;
}

.popup-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
  z-index: 10;
}

/* /Popup */

/* Footer */

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  background-color: #32425c;
}

.footer-menu,
.footer-sub-menu,
.social-links {
  list-style: none;
}

.footer-menu a,
.footer-adress a {
  color: #f3f7f9;
}

.footer-sub-menu a {
  color: #ffd180;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-sub-menu a:hover,
.footer-sub-menu a:focus {
  text-decoration: underline;
  outline: none;
}

.footer-menu a:active,
.footer-sub-menu a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  padding-top: 22px;
}

.copyright {
  width: 320px;
  margin-right: 65px;
  font-size: 16px;
  line-height: 18px;  
}

.social-links {  
  display: flex;
  padding-left: 0;
  margin: 10px 120px 0 0;
}

.social-links  li {
  margin-right: 5px;
}

.social-links  li:last-child {
  margin-right: 0;
}

.social-btn {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #ee3643;
  outline: none;
}

.vk-btn {
  background-image: url(../img/icon-vk.svg);
}

.facebook-btn {
  background-image: url(../img/icon-fb.svg);
}

.instagramm-btn {
  background-image: url(../img/icon-insta.svg);
}

.footer-email,
.footer-academy {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
}

.footer-email {
  margin-right: 53px;
}

.footer-email a,
.footer-academy a {
  color: #ffd180;
}

.footer-email a:hover,
.footer-email a:focus,
.footer-academy a:hover,
.footer-academy a:focus {
  text-decoration: underline;
}

.footer-email a:active,
.footer-academy a:active {
  color: #ee3643;
  text-decoration: none;
}
/* /Footer */



/*  */
.filter {
  width: 220px;
}

.catalog {
  width: 700px;
}

.category-text {
  padding: 65px 0;
}

.footer-top,
.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-middle {
  padding-bottom: 50px;
}

.logo-footer {
  padding: 20px 0;
}

.footer-menu,
.footer-sub-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.footer-menu {
  width: 550px;
  padding-top: 40px;  
}

.footer-sub-menu {
  width: 525px;
  padding-top: 32px;
}

.footer-adress {
  margin: 0;
  padding-top: 32px;
}

.footer-link {
  display: block;
}

/* Animation */

@keyframes bounce {
  0% {
    transform: translate(-50%, -200%);
  }

  70% {
    transform: translate(-50%, -30%);
  }

  90% {
    transform: translate(-50%, -55%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}